body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body #featured-property,
header{
  text-align: center;
}
body #details div{
  background-color: red;
  float: left;
  border-width: 800px center;
  width: 25%;
  text-align: center;
  font-size: larger;
}